.list-user-container {
    .title {
        margin: 10px 0;
    }

    .list-user-content {
        .child {
            padding: 10px 0;
            width: 400px;
            margin: 0 auto;
            border: 1px solid grey;
        }

    }
}